#header{
  background: #ff5252;
  margin-bottom: 20px;
  h1 {
    margin: 10px 0;
    color:#fff;
  }
  .top-links{
      padding: 20px 20px 0;
      border-radius: 0 0 10px 10px;
      color:#fff;
      display: inline-block;
      a {
        color:#fff
      }
  }

}
